<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- views/partials/head.ejs -->
      <meta charset="UTF-8">
      <title><%= ddd[0].title %></title>
	  <meta name="description" content="<%= ddd[0].description %>">
      <!-- CSS (load bootstrap from a CDN) -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/style.css" />
	  <!-- Custom styles for DDD Event -->
      <link rel="stylesheet" type="text/css" href="css/ddd.css" />
	  <!-- Contact form javascript file -->
      <script type="text/javascript" src="js/contact.js"></script>
	  
	  <% if(ddd[0].googleanalytics != '') { %>	
		<script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', '<%= ddd[0].googleanalytics %>');
</script>
	  <%}%>
	  
<% if(ddd[0].banner != '') {%>
	  <style>
	  .banner {
     background-image: url(/images/<%= ddd[0].banner %>);
}
</style>
<%}%>

<% if(ddd[0].brandcolor != '') {%>

<style>
footer, .navbar, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: <%= ddd[0].brandcolor %>;
}

.btn-primary {
    background-color: <%= ddd[0].brandcolor %>;
    border-color: <%= ddd[0].brandcolor %>;
}

.btn-primary:hover {
    border-color: <%= ddd[0].brandcolor %>;
    color: <%= ddd[0].brandcolor %>;
}

.panel {
	border-left: 5px solid <%= ddd[0].brandcolor %>;
}

.index-top-banner, .navbar-inverse .navbar-nav>li>a:hover , .panel h3, a {
	color:<%= ddd[0].brandcolor %>;
}

h1, h2, h3, h4, h5 {
color: <%= ddd[0].brandcolor %>;	
}
</style>
<%}%>





   </head>
   <body>
      <header>
         <div class="container">
            <a href="/"><img src="images/<%= ddd[0].logo %>" class="logo"></a>
         </div>
         <nav class="navbar navbar-inverse">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"></a>
               </div>
               <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                     <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                     <li><a href="/about">About</a></li>
                     <li><a href="/sponsors">Sponsors</a></li>
                     <li><a href="/contact">Contact</a></li>
                     <li><a href="/code-of-conduct">Code of conduct</a></li>
                  </ul>
               </div>
               <!--/.navbar-collapse -->
            </div>
         </nav>
		 <% include notification-bar %>
      </header>